<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Strona Główna</a>
        <div th:if="${session.loggedIn == true}">
            <div>
                <p>Zalogowano jako użytkownik: <span th:text="*{session.loggedUser.name}"></span>.</p>
                <a href="#" class="button" th:href="@{/login/signout}">Wyloguj</a>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login/hash">Login Hash</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Rejestracja</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/messages">Wiadomości</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
