<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html th:lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headFragment"></head>
<body>
<div class="container mainContentContainer">
    <header th:replace="fragments/navbarFragment"></header>
    <main class="container">

    </main>
    <footer th:replace="fragments/footerFragment"></footer>
</div>
<div th:replace="fragments/scriptFragment"></div>
</body>
</html>