<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html th:lang="pl-PL" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headFragment"></head>
<body>
<div class="container mainContentContainer">
    <header th:replace="fragments/navbarFragment"></header>
    <main class="container">
        <h2 th:if="${!#strings.isEmpty(errorMessage)}" th:text="${errorMessage}"></h2>
        <form method="GET" th:action="@{/register/submit}" th:object="${createForm}">
            <div><label for="username">Username:</label></div>
            <input id="username" type="text" name="username" th:value="*{username}"/>
            <div><label for="password">Password:</label></div>
            <input id="password" type="password" name="password" th:value="*{password}"/>
            <div><label for="passwordConfirm">Confirm Password:</label></div>
            <input id="passwordConfirm" type="password" name="passwordConfirm" th:value="*{passwordConfirm}"/>
            <div><input type="submit" value="Register"/></div>
        </form>
    </main>
    <footer th:replace="fragments/footerFragment"></footer>
</div>
<div th:replace="fragments/scriptFragment"></div>
</body>
</html>